<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>AFK Academy</title>
</head>
<body>
    <div id="app">
        <!-- Header -->
        <header id="header">
            <div id="logo-container">
                <img id="logo" src="images/afk-academy-high-resolution-logo-transparent.png">
            </div>
            <div id="searchbar-container">
                <input id="search-bar" type="text" placeholder="Search...">
                <i class="search-icon fa-solid fa-magnifying-glass"></i>
            </div>
            <div id="cart-icon-container">
                <p id="cart-count"> {{ calculateCartQuantity }}</p>
                <a 
                    v-if="!cartPage && cartItemCount > 0"
                    id="cart-link" 
                    v-on:click="toggle_page"
                >
                    <i class="cart-icon fa-solid fa-cart-shopping"></i>
                </a>

                <a 
                    v-else-if="cartPage && formSubmitted"
                    id="cart-link" 
                    v-on:click="toggle_page"
                >
                    <i class="cart-icon fa-solid fa-cart-shopping"></i>
                </a>

                <a v-else id="cart-link-disabled" href="javascript:void(0);">
                    <i class="cart-icon fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </header>

        <!-- Main Page -->
        <main id="main-container">
            <div v-if="!cartPage" id="homepage">

                <h1 id="courses-title">Courses</h1>

                <div id="sort">
                    <label for="sort-attribute">Sort by:</label>
                    <select id="sort-attribute" v-model="sortAttribute">
                        <option value="subject">Subject</option>
                        <option value="location">Location</option>
                        <option value="price">Price</option>
                        <option value="spaces">Spaces</option>
                    </select>

                    <label for="sort-order">Order:</label>
                    <select id="sort-order" v-model="sortOrder">
                        <option value="ascending">Ascending</option>
                        <option value="descending">Descending</option>
                    </select>
                </div>

                <section id="courses-section">
                    <div class="course-container" v-for="course in sortedCourses" :key="course.id">
                        <div class="course-thumbnail-container">
                            <img class="course-thumbnail" :src="course.thumbnail" :alt="course.subject">
                        </div>
                        <div class="course-description">
                            <p class="course-subject"><span>Subject:</span> {{ course.subject }}</p>
                            <p class="course-location"><span>Location:</span> {{ course.location }}</p>
                            <p class="course-spaces"><span>Spaces:</span> {{ course.spaces }}</p>
                            <div class="course-rating">
                                <span>Rating</span>
                                <span class="full-star" v-for="n in course.rating">★</span>
                                <span class="empty-star" v-for="n in 5 - course.rating">☆</span>
                            </div>
                            <p class="course-price"><span>Price:</span> ${{ course.price }}</p>
                        </div>
                        <button 
                            class="add-button"
                            v-on:click="addToCart(course.id)"
                            :disabled="!canAddToCart(course)"
                        >
                            Add To Cart
                        </button>
                    </div>
                </section>
            </div>

            <div v-else>hi</div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="scripts/courses.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>
