#header {
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    padding: 1rem 2rem; 

    position:fixed ;
    top:0;
    left:0;
    right:0;
    z-index: 1000;

    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#logo-container {
    width: 5rem;
}

#logo {
    width: 100%;
}

#searchbar-container {
    display: flex; 
    justify-content: center;
    align-items: center; 

    width: 100%;
    max-width: 32rem;

    position: relative; 
}

#search-bar {
    width: 100%;
    

    padding: 0.5rem 1rem;

    border: 1px solid #ddd;
    border-radius: 2rem;
}

.search-icon {
    position: absolute; 
    right: 1rem;

    color: #007bff;
    
    cursor: pointer;
}

#cart-link {
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

#cart-count {
    font-size: 0.875rem;
}

#cart-icon {
    position: absolute;
    right: 20px;
    font-size: 1.25rem;
}