#header {
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    padding: 1rem; 

    position:fixed ;
    top:0;
    left:0;
    right:0;
    z-index: 1000;

    background-color: rgb(197, 195, 195);
}

#logo-container {
    width: 5rem;
}

#logo {
    width: 100%;
}

#searchbar-container {
    display: flex; 
    justify-content: center;
    align-items: center; 

    width: 100%;
    max-width: 32rem;

    position: relative; 
}

#search-bar {
    width: 100%;

    padding: 0.5rem 0.25rem;

    border: none;
    border-radius: 0.75rem;
}

.search-icon {
    position: absolute; 
    right: 1rem;

    color: rgb(15, 14, 14);
    
    cursor: pointer;
}

#cart-link {
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

#cart-count {
    font-size: 0.875rem;
}

#cart-icon {
    position: absolute;
    right: 20px;
    font-size: 1.25rem;
}